

<%= form_for @user ,url:users_update_profile_pic_path,method: :put, multipart: true  do |f|%>
<div class="row">
	<div class="col-3">
		<h3>update profile pic 1</h3>
		<%if @user.image.present?%>
		<%= link_to image_tag(@user.image,style: "width: 250px; display: block",class: 'media-object'),@user.image, target: '_blank',method: :get%>
		<%= f.file_field :image%>
		<%else%>
		<%= f.file_field :image%>
		<%end%>
	</div>
	<div class="col-3">
		<h3>update profile pic 2</h3>
		<%#= link_to image_tag(@user.avatar.path, class: 'media-object'), @user.avatar.path, target: '_blank',method: :get %>
		<%#= image_tag @user.avatar.path ,style: "width: 250px; display: block"%>
		<%#= URI.parse("http://something.com/blah/avatar.png").open%>
		<%#= Paperclip.io_adapters.for(@user.avatar).open%>
		<%#= image_tag(@user.avatar.path) %>
		<%#= asset_url(@user.avatar_file_name, @user.avatar.path)%>
		<%=  image_tag secure_image_user_path(@user),style: "width: 250px; display: block" %>
		<%#= f.country_select :first_name%>
		<%= f.file_field :avatar%>
	</div>
</div>
<div>
<%= f.submit "submit",class: "btn btn-success"%>
</div>
<%end%>
