<div class="container">

	<form class="form-inline my-2 my-lg-0">
		<%= form_for :search_places, url: search_places_path, method: :get do |form| %>
			<%= form.text_field :query, value: params[:search_places].presence && params[:search_places][:query],class:"form-control mr-lg-8",placeholder:"search" %>
			<%= form.submit 'Search',class:"btn btn-outline-success my-2 my-sm-0" %>
		<% end %>
	</form>

	<br>

	<div class="row">
		<div class="col">
			<% if @places.empty?  %>
				<h2>No places found matching your query.</h2>
			<% else %>
				<div class="card-columns">
				<% @places.each do |place|%>
				<div class="card p-3 divname">
				<div class="card-header bg-transparent border-success">
						<%= place.country%>
					</div>
					<div class="card-body">
					<h5 class="card-title"><%= place.place_name%></h5>
					<p class="card-text"><%= place.place_description[0..75]%></p>
							<%=link_to "show details",places_show_path(:id=>place.id),class:"btn btn-info "%>
					</div>
				</div>
					<%end%>
				</div>
			<%end%>
		</div>
	</div>
</div>			

