<%=form_with(url: places_create_path, method: "post") do |form|%>
<%#= form.select :country, collection: CountryStateSelect.countries_collection %>
  <%= form.country_select :country %>

<div>
<%=form.text_field :place_name,placeholder:"place name"%>
</div>
<div>
<%=form.text_area :place_description,placeholder:"place description"%>
</div>
<%=form.submit "submit",class:"btn btn-success" %>
<%end%>