<div class="container">
<div class="card" style="width: 24rem;">
	<div class="card-body">
		<h5 class="card-title">Sign up</h5>
		<p class="card-text">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html=> {:multipart=>true}) do |f| %>
				<%= render "users/shared/error_messages", resource: resource %>
				<div class="row">
					<div class="col-6">
				<div class="field form-group">
					<%= f.text_field :first_name,class:"form-control",placeholder:"First name"%>
				</div>
			</div>
				<div class="col-6">
				<div class="field form-group">
					<%= f.text_field :last_name,class:"form-control",placeholder:"Last name"%>
				</div>
			</div>
		</div>


				<div class="field form-group">
					<% f.label :email %>
					<%= f.email_field :email,class:"form-control",placeholder:"Email", autofocus: true, autocomplete: "email" %>
				</div>

				<div class="field form-group">
					<% f.label :password %>
					<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %>
					<%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"Password" %>
				</div>


				<div class="field form-group">
					<% f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder:"Confirm password" %>
				</div>

				<div class="field form-group">
					<%= f.text_field :phone_number,class:"form-control",placeholder:"Phone number"%>
				</div>

				<div class="field form-group">
					<%= f.text_area :address,class:"form-control",placeholder:"Address"%>
				</div>
				<div class="field  form-group">
					<%= label_tag :country %>
					<%= f.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
				</div>

					<div class="field  form-group">
						<%= label_tag :state %>
						<%= f.text_field :state%>
					</div>

					

				<div class="field ">
					<%=f.label :Profile_Pic%>
					<%= f.file_field :image %>
				</div>
				<div class="field ">
					<%=f.label :Profile_Pic2%>
					<%= f.file_field :avatar %>
				</div>

				<div class="actions">
					<%= f.submit "Sign up" %>
				</div>
			<% end %>

			<%= render "users/shared/links" %>

		</p>
	</div>
</div>
</div>
<style type="text/css">
body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
</style>

<!-- <script type="text/javascript">
	$(document).on('ready page:load', function() {
  return CountryStateSelect({
    country_id: "country_id",
    state_id: "state_id"
  });
});


</script> -->